*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    background: linear-gradient(-45deg, #DE1A1A, #EF233C, #D33F49, #FF299C, #EF27A6, #9055A2, #4062BB, #0077B6,#0077B6, #00B4D8);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}